[{{{ type }}}] {{{ description }}} le {{{ date }}} à {{{ city }}}.

⏳ Plus que {{ remainingDaysUntilRegistrationLimitDate }} jours pour vous inscrire !

👉 Inscriptions & infos supplémentaires : {{{ link }}}
