[STAGE] {{{ name }}} du {{{ startDate }}} au {{{ endDate }}} à {{{ city }}}.

⏳ Plus que {{ remainingDaysUntilRegistrationLimitDate }} jours pour vous inscrire !

👉 Inscriptions & infos supplémentaires : {{{ link }}}
